section.lastVideos {
    width: 100%;
    height: auto;
    background-image: url("../../assets/backgroundVideos.jpg"); 
    background-size: cover;
    position: relative;
}

section.lastVideos::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(106,103,89, 0.7);
    opacity: 1;
}

h1.lastVideos {
    position: relative;
    color: #fff !important;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

ol.slide {
    margin-bottom: -2rem;
}

li.img {
    transform: scale(0.9);
    transition: all ease 0.2s;
}
li.img:hover {
    cursor: pointer;
    transform: scale(1);
}
