header {
    background-image: url("../../assets/vitrineHeader.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: var(--gray);
}

span.menu {
    color: #FFFFFF;
    margin: 0 25px 5px;
    font-size: 25px;
}

svg.logo {
    width: 22%;
}

button {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
}
button:hover {
    opacity: 0.8;    
}
